{% extends "blog/base.html" %}

{% block header %}
<div class="site-heading">
  <h1>Login</h1>
</div>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>ユーザー名、パスワードが間違っています。もう一度入力して下さい。</p>
  {% endif %}
  <div class="row justify-content-center">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
      </table>
      <div class="text-right">
        <p>
          <button type="submit" class="save btn btn-success" role="button">Send</button>
        </p>
        </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
